.multi-selector{
	margin-top: 5px;
	width:100%;
}

.small{
	width: 33.3333%;
}

.medium{
	width:50%;
}

.responsive-text{
	font-size:1vw;
}

@media screen and (max-width: 600px) {
  .responsive-text { 
    font-size: 7px;
  }
}

@media screen and (max-width: 1125px) and (min-width: 992px) {
  .responsive-text { 
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 991px) and (min-width: 601px) {
  .responsive-text { 
    font-size: 100%;
  }
}